<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css" />
</head>

<body>
    <div class="container">
        <div class="card">
            <h1>Reset Password</h1>
            <p class="subtitle">
                Enter your new password below.
            </p>
            <form method="POST" action="/auth/reset-password">
                <input type="hidden" name="token" value="{{token}}" />
                <div class="input-group">
                    <label>New Password</label>
                    <input type="password" name="password" placeholder="New password" required />
                </div>

                <div class="input-group">
                    <label>Confirm Password</label>
                    <input type="password" name="comfirmpassword" placeholder="Confirm password" required />
                </div>

                <button type="submit">Update Password</button>

                <div class="footer">
                    <a href="/login">Back to login</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>